@page
@model IndexModel
@{
    ViewData["Title"] = "General page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.CompanyName</h1>
    <h3>About us</h3>
    <p>@Model.CompanyInfo</p>
</div>
